// $body-background-color: #2E3532;
$body-background-color: whitesmoke;
$primary: #88C101;
$success: #66CC00;
$danger: #c23616;
$link: #88C101;

$menu-item-hover-background-color: $grey-lighter;
$menu-item-active-background-color: $primary;
$table-striped-row-even-hover-background-color: #ddd;

$pagination-current-background-color: $grey;
$pagination-current-border-color: $grey;
